#range {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(space.jpg);
    cursor: crosshair;
    width: 100%;
    height: 100%;
}

#img1 {
    position: absolute;
    border: none;
    left: 0px;
    top: 100px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

#score {
    font: 16px normal arial, verdana, sans-serif;
    color: white;
    padding: 10px;
}